body{
    background-color: #e7d7f3;
}

h1{
    color: purple;    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: purple;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

h3{
    color: purple;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

.searchBar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hintButton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard{
    margin: 0 auto;
    background-color: plum;
    display: flex;
    flex-direction: column;
    width: 225px;
    border: 3px solid darkmagenta;
    border-radius: 3px;
    margin-bottom: 25px;
    margin-top: 10px;
    row-gap: 4px;
    justify-content: space-between;
    box-shadow: 5px 10px rgb(94, 3, 94);
}

main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}