body{
    background-color: #e7d7f3;
}

h1{
    color: purple;    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: purple;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

h3{
    color: purple;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

.searchBar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hintButton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}